<?xml version="1.0"?>
<launch>


 <!--settings for elevator-->
 <arg name="panel_img" default="$(find elevator)/img/panel_real.png" doc="path to buttons panel image"/>
 <arg name="button_img" default="$(find elevator)/img/button_real.png" doc="path to button image"/>
 <arg name="pressed_button_img" default="$(find elevator)/img/button_sim_pressed.png" doc="path to pressed button image"/>
 <arg name="inner_button_img" default="$(find elevator)/img/level2_sim.png" doc="path to inner button image"/>
 <arg name="pressed_inner_button_img" default="$(find elevator)/img/level2_pressed_sim.png" doc="path to pressed inner button image"/>
 <arg name="press_offset_x" default="0.5" doc="offset from button_img to left corner to pushing spot"/>
 <arg name="press_offset_y" default="0.5" doc="offset from button_img to left corner to pushing spot"/>
 <arg name="acc_certainty" default="0.75" doc="accept immediately above this level of certainty"/>
 <arg name="button_size" default="0.025" doc="the diameter of the button"/>
 <arg name="show_image" default="false" doc="show processed image"/>
 <arg name="show_status" default="true" doc="show status messages"/>

  <!-- <node name="arm_server_node" pkg="elevator" type="arm_server_node.py" output="screen"/> -->

   <node name="armadillo_elevator_node" pkg="elevator" type="elevator_node.py" output="screen">
     <param name="panel_img" value="$(arg panel_img)"/>
     <param name="button_img" value="$(arg button_img)"/>
     <param name="pressed_button_img" value="$(arg pressed_button_img)"/>
     <param name="inner_button_img" value="$(arg inner_button_img)"/>
     <param name="pressed_inner_button_img" value="$(arg pressed_inner_button_img)"/>
     <param name="press_offset_x" value="$(arg press_offset_x)"/>
     <param name="press_offset_y" value="$(arg press_offset_y)"/>
     <param name="acc_certainty" value="$(arg acc_certainty)"/>
     <param name="button_size" value="$(arg button_size)"/>
     <param name="show_image" value="$(arg show_image)"/>
     <param name="show_status" value="$(arg show_status)"/>
   </node>

</launch>
